<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biblioteca Digital</title>
    <link rel="stylesheet" href="MDB-Free/css/bootstrap.min.css">
    <link rel="stylesheet" href="MDB-Free/css/mdb.min.css">
    <link rel="stylesheet" href="MDB-Free/css/style.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container">
        <br>
        <h1>Biblioteca Digital</h1>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            <i class="fa fa-home"></i>
                            <span class="sr-only">(current)</span>
                            <!--<a href="inicioSesion.html" class="btn btn-default">Go to Google</a>-->
                        </a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
        <hr>
        <div class="row">
            <div class="col-md-9">
                <h2>Descubre nuestras colecciones</h2>

                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="../public/img/tibetano.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <!-- leer mas button -->
                            <a href="libro1.html" class="btn btn-light-blue btn-md">Leer mas</a>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="../public/img/jhon green.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <!--<button type="button" class="btn btn-light-blue btn-md">Read more</button>-->
                            <!-- leer mas button -->
                            <a href="libro2.html" class="btn btn-light-blue btn-md">Leer mas</a>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="../public/img/valquirias.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <!-- leer mas button -->
                            <a href="libro3.html" class="btn btn-light-blue btn-md">Leer mas</a>

                        </div>

                    </div>
                    <!-- Card -->


                </div>
                <!-- Card deck -->

            </div>
            <div class="col-md-3">
                <h2>Perfil</h2>
                <!-- Card -->
                <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-2">
                        <div>
                            <div class="text-center">
                                <img src="../public/img/user.png" alt="placeholder.">
                            </div>
                            <h3 class="card-title pt-2">
                                <strong>Mi Cuenta</strong>
                            </h3>
                            <p>Ten tu Propia Colección</p>
                            <a href="inicioSesion.html" class="btn btn-default">Inicio</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h2>Lo más Destacado</h2>
                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="../public/img/índice2.jpeg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <!-- leer mas button -->
                            <a href="libro4.html" class="btn btn-light-blue btn-md">Leer mas</a>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <!-- leer mas button -->
                            <a href="libro5.html" class="btn btn-light-blue btn-md">Leer mas</a>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <!-- leer mas button -->
                            <a href="libro6.html" class="btn btn-light-blue btn-md">Leer mas</a>

                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Card deck -->
            </div>
        </div>
        <hr>
        <blockquote class="blockquote text-center">
            <footer class="blockquote-footer mb-3">¿Que es una Biblioteca Digital?
            </footer>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam modi architecto fugit illum deleniti numquam eaque
                voluptatibus itaque voluptatum iste a dolorem, nemo earum corporis officiis. Earum vitae harum praesentium.
            </p>

        </blockquote>
    </div>

</body>
<script src="MDB-Free/js/jquery-3.3.1.min.js"></script>
<script src="MDB-Free/js/bootstrap.min.js"></script>
<script src="MDB-Free/js/mdb.js"></script>

</html>