<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biblioteca Digital</title>
    <link rel="stylesheet" href="MDB-Free/css/bootstrap.min.css">
    <link rel="stylesheet" href="MDB-Free/css/mdb.min.css">
    <link rel="stylesheet" href="MDB-Free/css/style.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="MDB-Free/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <br>
        <h2>Biblioteca Digital</h2>
        <!--Navbar-->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">
                                <i class="fa fa-home"></i>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                    <!-- Links -->



                    <form class="form-inline">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" id="buscar">
                        </div>
                    </form>
                </div>
                <!-- Collapsible content -->

            </nav>
        </div>
        <!--/.Navbar-->
        <hr>

        <div class="container">
            <h2>Descubre nuestras colecciones</h2>


            <div class="row active-with-click" id="renderBook">
                

            </div>
        </div>

        <!--seccion colecciones-->

        <!--/seccion colecciones-->

        <!--seccion lo mas destacado-->
        <h2>Lo mas Destacado</h2>
        <div class="row">

            <div class="col-md-3">
                <article class="material-card Red">
                    <h2>
                        <span>Harry Potter</span>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/harrypotter.jpg" width="654" height="654">
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            J. K. Rowling
                        </h4>
                        <!-- Central Modal Medium Success -->
                        <div class="libro">
                            <div class="modal fade" id="centralModalSuccess4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="white-text">&times;</span>
                                            </button>
                                        </div>

                                        <!--Body-->
                                        <div class="modal-body">
                                            <div>
                                                <div class="embed-responsive embed-responsive-16by9" id="viewharry"></div>
                                            </div>
                                            <script src="view-pdf-jquery/jquery.min.js"></script>
                                            <script src="view-pdf-jquery/pdfobject.min.js"></script>
                                            <script>
                                                var viewerharry = $('#viewharry');
                                                PDFObject.embed('pdf/harryPotter.pdf', viewerharry);
                                            </script>
                                        </div>

                                        <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                        </div>
                        <!-- Central Modal Medium Success-->

                        <!-- Button trigger modal -->
                        <div class="text-center">
                            <a href="" class="fa fa-fw fa-align-center" id="modaCam" data-target="#centralModalSuccess"></a>
                        </div>
                    </div>

                </article>
            </div>

            <!--Diario de Ana Frank-->
            <div class="col-md-3">
                <article class="material-card Red">
                    <h2>
                        <span>Teorema de Katherine</span>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/jhonGreen.jpg" width="654" height="654">
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Jhon Green
                        </h4>
                        <!-- Central Modal Medium Success -->
                        <div class="libro">
                            <div class="modal fade" id="centralModalSuccess5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="white-text">&times;</span>
                                            </button>
                                        </div>

                                        <!--Body-->
                                        <div class="modal-body">
                                            <div>
                                                <div class="embed-responsive embed-responsive-16by9" id="viewKatherine"></div>
                                            </div>
                                            <script src="view-pdf-jquery/jquery.min.js"></script>
                                            <script src="view-pdf-jquery/pdfobject.min.js"></script>
                                            <script>
                                                var viewerKatherine = $('#viewKatherine');
                                                PDFObject.embed('pdf/elTeoremaDeKatherine.pdf', viewerKatherine);
                                            </script>
                                        </div>

                                        <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                        </div>
                        <!-- Central Modal Medium Success-->

                        <!-- Button trigger modal -->
                        <div class="text-center">
                            <a href="" class="fa fa-fw fa-align-center" id="modaTeo" data-target="#centralModalSuccess"></a>
                        </div>
                    </div>
                </article>
            </div>

            <!--El Principito-->
            <div class="col-md-3">
                <article class="material-card Red">
                    <h2>
                        <span>El Principito</span>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/principito.jpg" width="654" height="654">
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Antoine de Saint-Exupéry
                        </h4>
                        <!-- Central Modal Medium Success -->
                        <div class="libro">
                            <div class="modal fade" id="centralModalSuccess6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="white-text">&times;</span>
                                            </button>
                                        </div>

                                        <!--Body-->
                                        <div class="modal-body">
                                            <div>
                                                <div class="embed-responsive embed-responsive-16by9" id="viewprincipito"></div>
                                            </div>
                                            <script src="view-pdf-jquery/jquery.min.js"></script>
                                            <script src="view-pdf-jquery/pdfobject.min.js"></script>
                                            <script>
                                                var viewerprincipito = $('#viewprincipito');
                                                PDFObject.embed('pdf/principito.pdf', viewerprincipito);
                                            </script>
                                        </div>

                                        <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                        </div>
                        <!-- Central Modal Medium Success-->

                        <!-- Button trigger modal -->
                        <div class="text-center">
                            <a href="" class="fa fa-fw fa-align-center" id="modaPri" data-target="#centralModalSuccess"></a>
                        </div>
                    </div>

                </article>
            </div>

            <!--El Diario de Ana Frank-->
            <div class="col-md-3">
                <article class="material-card Red">
                    <h2>
                        <span>El Diario de Ana Frank</span>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/anaFrank.jpg" width="654" height="654">
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Ana Frank
                        </h4>
                        <!-- Central Modal Medium Success -->
                        <div class="libro">
                            <div class="modal fade" id="centralModalSuccess7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="white-text">&times;</span>
                                            </button>
                                        </div>

                                        <!--Body-->
                                        <div class="modal-body">
                                            <div>
                                                <div class="embed-responsive embed-responsive-16by9" id="viewana"></div>
                                            </div>
                                            <script src="view-pdf-jquery/jquery.min.js"></script>
                                            <script src="view-pdf-jquery/pdfobject.min.js"></script>
                                            <script>
                                                var viewerana = $('#viewana');
                                                PDFObject.embed('pdf/anaFrank.pdf', viewerana);
                                            </script>
                                        </div>

                                        <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                        </div>
                        <!-- Central Modal Medium Success-->

                        <!-- Button trigger modal -->
                        <div class="text-center">
                            <a href="" class="fa fa-fw fa-align-center" id="modaAna" data-target="#centralModalSuccess"></a>
                        </div>
                    </div>

                </article>
            </div>
        </div>
        <!--seccion lo mas destacado-->
    </div>
    <hr>
    <!--seccion definicion-->
    <blockquote class="blockquote text-center">
        <footer class="blockquote-footer mb-3">¿Que es una Biblioteca Digital?</footer>
        <p class="mb-0">Se refiere a los recursos informáticos documentales, así como su impacto en el acceso y la gestión de la información.
            Se analizan, además, las repercusiones de este nuevo modelo de biblioteca en el comportamiento y los hábitos
            del usuario final en la búsqueda y el acceso a la información que precisa.</p>

    </blockquote>
    <!--/seccion definicion-->
    </div>


    <button data-toggle="centralModalSuccess1">lanzar</button>



    <div class="libro">
        <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div>
                            <div class="embed-responsive embed-responsive-16by9" id="viewtibetano"></div>
                        </div>
                        <script src="view-pdf-jquery/jquery.min.js"></script>
                        <script src="view-pdf-jquery/pdfobject.min.js"></script>
                        <script>
                            var viewertibetano = $('#viewtibetano');
                            PDFObject.embed('pdf/libroTibetano.pdf', viewertibetano);
                        </script>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>
    <!-- Central Modal Medium Success-->

    <!-- Button trigger modal -->
    <div class="text-center">
        <a href="" class="fa fa-fw fa-align-center" id="modaTib" data-target="#centralModalSuccess"></a>
    </div>
    </div>

</body>
<script src="view-pdf-jquery/jquery.min.js"></script>
<script src="MDB-Free/js/bootstrap.min.js"></script>
<script src="MDB-Free/js/mdb.js"></script>
<script src="js/cardLibro.js"></script>
<script src="js/index.js"></script>

</html>