<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Cuenta</title>
    <link rel="stylesheet" href="MDB-Free/css/bootstrap.min.css">
    <link rel="stylesheet" href="MDB-Free/css/mdb.min.css">
    <link rel="stylesheet" href="MDB-Free/css/style.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div>
        <div class="container">
            <br>
            <h1>Biblioteca Digital</h1>
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            <i class="fa fa-home"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <!-- Links -->
                <h2>Inicio Sesion</h2>
            </nav>
        </div>

        <div class="container">
            <!-- Default form login -->
            <div class="text-center border border-light p-5">


                <!-- Email -->
                <input type="name" id="name" class="form-control mb-4" placeholder="Nombre" required>

                <!-- Password -->
                <input type="password" id="password" class="form-control mb-4" placeholder="Contraseña" required>

                
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" id="btnIniciar" type="submit">Iniciar</button>

                <!-- Register -->
                <p>No tienes cuenta?
                    <a href="registro.html">Registratate</a>
                </p>
            </div>
            <!-- Default form login -->
        </div>
    </div>
</body>
<link rel="stylesheet" type="text/css" href="index.css">
</div>


</body>
<script src="MDB-Free/js/jquery-3.3.1.min.js"></script>
<script src="MDB-Free/js/bootstrap.min.js"></script>
<script src="MDB-Free/js/mdb.js"></script>
<script src="js/index.js"></script>

</html>