<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Cuenta</title>
    <link rel="stylesheet" href="../public/MDB-Free/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/MDB-Free/css/mdb.min.css">
    <link rel="stylesheet" href="../public/MDB-Free/css/style.min.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div class="container">
        <br>
        <h1>Biblioteca Digital</h1>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <i class="fa fa-home"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <!-- titulo -->
            <h2>Colecciones</h2>
        </nav>
        <hr>

        <!--contenedor libro-->
        <div class="row">
            <div class="col-md-4">
                <h2>hola</h2>
                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../public/img/jhon green.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>

            <div class="col-md-4">
                <!--Title-->
                <h4 class="card-title">Reseña</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>

        </div>
    </div>

</body>
<script src="../public/MDB-Free/js/jquery-3.3.1.min.js"></script>
<script src="../public/MDB-Free/js/bootstrap.min.js"></script>
<script src="../public/MDB-Free/js/mdb.js"></script>

</html>